body {
  font-family: "Century Gothic", sans-serif;
  background-image:url('bg.png');
  background-size:cover;
  background-color: #444;
  padding: 0;
  margin: 0;
}

#map {
  position: absolute;
  width: 800px;
  height: 800px;
  z-index: 1000;
}


#header {
  background-color: rgba(10,10,10,.5);
}

#header ul {
  float: left;
}

#header ul li {
  float: left;
  list-style: none;
}

#header ul li a {
  color: #ACD156;
  color: #ec3f6c;
  padding: 0 10px 0 10px;
  text-decoration: none;
  font-size: 1.2em;
  font-weight: bolder;
}

#header ul li a.selected {
  color: #FFF;
}

#header ul li a:hover {
  color: #444;
}

#header h1 {
  color: #FFF;
  margin: 0;
  padding: 10px 0 10px 100px;
  float: left;
}

#header h1 span {
  color: #acd156;
  color: #ec3f6c;
}

#infobox {
  /*background-color: #ACD156;*/
  background-color: rgba(27, 96, 68, .5);
  padding: 10px;
  border-radius: 0 0 10px 10px ;
  width: 200px;
  margin-left: 10px;
}

#infobox #points, #infobox #bandwidth {
  padding: 0; margin: 0;
  color: #444;
  text-transform: uppercase;
  z-index: 4;
}

#infobox #bandwidth {
  color: #1BA5E0;
  color: #ec3f6c;
}

#infobox #points .num {
}

.circle {
  position: absolute;
  height: 50px;
  width: 50px;
  border-radius: 25px;
  border: 2px solid #FFF;
  font-size: 2em;
  text-align: center;
  z-index: 3;
}

.fb {
  width: 100px;
  height: 100px;
  border-radius: 50px;
  background-color: #4660A2;
  color: #FFF;
  font-weight: bolder;
}

.image {
  background-size: 80px;
}

.fb_profilepic {
  background-image: url('./defaultuser.png');
  background-size: 50px;
}

.berkeley {
  background-image: url('https://fbcdn-profile-a.akamaihd.net/hprofile-ak-snc7/373023_10111634660_526022946_q.jpg');
}

.lock {
  background-image: url('http://icons.iconarchive.com/icons/3dlb/3d/48/lock-icon.png');
  background-color: #333;
}

.map {
  width: 130px;
  height: 130px;
  border-radius: 65px;
  background-image: url('../map.png');
}
